.App {
  text-align: center;
}

.Drake {
  background-color: rgb(208, 76, 19);
  margin:1em;
}

.Drake:hover {
  transform: scaleX(-1);
}

.Title {
  background-color: rgb(208, 76, 19);
  margin:1em;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
