.FileUpload {
    margin: 1.5em;
    padding: 2.5em;
    background-color:rgb(208, 117, 19);
    text-align: center;
}

.Description {
    padding: 1em;
    text-size-adjust: 100%;
    font-size: 20px;
}

.Form{
    background-color: rgb(143, 71, 7);
    padding: 1.5em;
    align-self: center;
    justify-content: center;
    display: flex;
}